@import '@carbon/type/scss/font-face/mono';
@import '@carbon/type/scss/font-face/sans';
@include carbon--font-face-mono();
@include carbon--font-face-sans();

@import '@carbon/ibmdotcom-styles/scss/components/leadspace/leadspace';

.profile-pic {
    height: 10rem;
    width: 10rem;
}

.info-tab {
    margin-top: 2rem;
}

.content {
    height: 5rem;
    width: 5rem;
}

.delete-icon {
    cursor: pointer;
}
