.app-header__link {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    width: 100%;
}

.bx--header__menu-item {
    padding: 0px 5rem !important;
}

.signup-link {
    margin-top: 15rem;
}
